

body {
    font-family: 'Kameron', serif;
    font-size: 1.3em;
    margin: 0;
    text-align: center;
    color: #176fa1;  
}


h1 {
    font-family: 'Courgette', cursive;
    font-size: 2.75rem;
    margin: 3.125rem auto 0 auto;
    color: #3a87bb;
}

h2 {
    font-family: 'Montserrat', sans-serif;
    font-size: 1.75rem;
    color: #214096;
    margin-bottom: 1.25rem;
}

h3 {
    font-family: 'Montserrat', sans-serif;
    color: #020c0c; 
}

hr {
    border-top: 5px dotted #d0dbdb;
    width: 10%;
    margin: 3.125rem auto;
}

p {
    margin-bottom: 8px;
    font-size: 80%;
}

.container-top {
    background-color: #d3e4f0;
    position:relative;
    padding-top: 4.25em; 
}

.cloud-top {
    position: absolute;
    right: 21.25rem;
    top: 3.125rem;
}

.cloud-bottom {
    position: absolute;
    left: 12.5rem;
    bottom: 16.5rem;
}

@media only screen and (max-width: 600px) {
    .cloud-top {
        position:absolute;
        right: auto;
        top: auto;
        padding-bottom: 20px;
        z-index: -1;
    }
}

@media only screen and (max-width: 600px) {
    .cloud-bottom {
        position:absolute;
        left: auto;
        bottom: auto;
    }
}

@media only screen and (max-width: 600px) {
    h1{
        margin: auto;
        padding-right: 50px;
        font-size: 1.8rem;
    }

    h2 {
        padding-right: 60px;
        font-size: 1.5rem;
    }
    
}
@media only screen and (max-width: 600px) {
    .heading-text{
        background: transparent;
        z-index: 2;
    }
}


.rocket-img {
    margin-top: 6.25rem;
    padding: 4.5rem;
    height: 12.5rem;
    
} 

.container-midA { 
    margin: 100px 0;
}

.container-midB { 
    background-color: #d3e4f0;
    padding-top: 50px;

}

.profile {
    width: 50%;
    margin: 0 auto;
    text-align: left;
    line-height: 1.8;
}
.profile-pic {
    border-radius: 100%;
    height: 12.5rem;
    float: left;
    margin-right: 3.125rem;
}
.skills-h2 {
    margin-bottom: 0;
    text-align: left;
}
.skills{
    width: 40%;
    margin-left: 6.25rem;
}

.skill-name{
    text-align: left;
    font-size: 90%;
    font-weight: 600;
    padding-top: 20px;
}

.container-midC { 
    padding-top: 4.25rem;
    margin: 3.125rem;
    text-align: left;
}

.container-midD { 
    background-color: #d3e4f0;
    padding: 50px 0;
    margin-top: 100px;
}

.card-height {
    height: 10rem;
}

.container-bottom {
    background-color: #0e1920;
    color: #d3e4f0;
    padding: 1.4rem 0;
}

.btn {
    background: #54a8c2;
    background-image: -webkit-linear-gradient(top, #54a8c2, #5197c2);
    background-image: -moz-linear-gradient(top, #54a8c2, #5197c2);
    background-image: -ms-linear-gradient(top, #54a8c2, #5197c2);
    background-image: -o-linear-gradient(top, #54a8c2, #5197c2);
    background-image: linear-gradient(to bottom, #54a8c2, #5197c2);
    -webkit-border-radius: 29;
    -moz-border-radius: 29;
    border-radius: 29px;
    font-family: Arial;
    color: #ffffff;
    font-size: .9rem;
    padding: 7px 20px 8px 20px;
    text-decoration: none;
  }
  
  .btn:hover {
    background: #7fd6f0;
    background-image: -webkit-linear-gradient(top, #7fd6f0, #61b2e8);
    background-image: -moz-linear-gradient(top, #7fd6f0, #61b2e8);
    background-image: -ms-linear-gradient(top, #7fd6f0, #61b2e8);
    background-image: -o-linear-gradient(top, #7fd6f0, #61b2e8);
    background-image: linear-gradient(to bottom, #7fd6f0, #61b2e8);
    text-decoration: none;
  }


.footer-link {
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    color: #7fd6f0;
}

.copyright{
    padding-left: 2.5rem;
    text-align: left;
}

